/*CSS compartido en todas las páginas*/
/*Menu de navegacion (header)*/
header#cabecera {
  background-color: #002E4C;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

nav {
  float: center;
  align-content: center;
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
nav ul li #imagen {
    display: block;
    padding: 10px;
    color: #F0F4F7;
    text-decoration: none;
    align-items: left;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #F0F4F7;
  text-decoration: none;
}
nav ul li:hover {
    background-color: #5980A6;
}

/*Body*/
body {
  background-color: #F0F4F7;
  margin: 0%;
}

/*Main*/
main {
  margin-left: 2%;
  color:#476684;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1%;
}
main h2 {
  color: #002E4C;
  padding-top: 1%;
}
/*Titulo del banco con las imagenes*/
main header p {
  background-color: #476684;
  margin: 0%;
  margin-left: -5%;
  color:#F0F4F7;
  font-size: 45px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
/*Subtitulo del banco*/
main header p#subtitulo {
  font-family: Arial, Helvetica, sans-serif;
  color:#c3daeb;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 14px;
  margin: 0%;
  margin-left: -5%;
  align-items: center;
  text-align: center;
  text-transform:capitalize;
  background-color: #5980A6;
}
/*Imagen del header del banco*/
main header img {
  width: 2.5%;
}
/*Aside (publicidad)*/
aside {
  position: sticky;
  top: 0;
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color:#002E4C ;
  text-align: center;
  float: right;
  width: 15%;
  font-size: 18px;
  font-weight: bold;
  background-color: #c3daeb;
}

aside hr {
  width: 100%;
  height: 5px;
  border: #F0F4F7;
  background-color: #575086;
}

aside img {
  height: 100%;
  width: 60%;
}

aside p#plan_oro {
  font-weight: bold;
  text-shadow: -1px 0 #d56445, 0 1px #d56445, 1px 0 #d56445, 0 -1px #d56445 ;
  color: #D4AF37;
}
aside p#plan_plata {
  font-weight: bold;
  text-shadow: -1px 0 #7e7b7f, 0 1.5px #7e7b7f, 1.5px 0 #7e7b7f, 0 -1px #7e7b7f;
  color: #e3e4e5;
}
aside p#plan_platino {
  font-weight: bold;
  text-shadow: -1px 0 #575086, 0 1px #575086, 1px 0 #575086, 0 -1px #575086;
  color: #738eab;
}
/*Footer*/
footer {
  background-color: #5980A6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color:#c3daeb;
  display: flex;
  justify-content: left;
  align-items: center;
}

/*Informacion de los derechos de autor*/
footer p{
  margin-left: 1%;
  width: 90%;
}

/*Botones de contacto*/
footer img {
  float: left;
  width: 15px;
  padding-right: 5%;
  padding-left: 2%;
  display: block;

}
footer ul {
  width: 50%;
  list-style: none;
  overflow: hidden;
  text-transform: capitalize;
}

footer ul li {
  width: 35%;
  padding: 1%;
  text-decoration: none;
  align-items: left;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

footer ul li a {
  display: block;
  color: #F0F4F7;
  text-decoration: none;
}
footer ul li:hover {
    background-color: #476684;
}
table caption {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 1%;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  table-layout: fixed;
  width: 75%;
  border-collapse: collapse;
  border: 3px solid #002E4C;
  padding: 1%;
}
table thead {
  background-color: #476684;
  color: #e3e4e5;
  padding: 2%;
}
table thead th {
  background-color: #476684;
  border: 1px solid #002E4C;
  color: #e3e4e5;
  padding: 1%;
}
table tbody {
  border: #002E4C 1px solid;
  padding: 1%;
}
table tbody tr {
  border: #002E4C 1px solid;
  padding: 1%;
}
table tbody td {
  border: #002E4C 1px solid;
  padding: 1%;
}
/*CSS Personalizado para cada página*/
